# Игнорируем все файлы с расширением .log  
*.log  
  
# Игнорируем все файлы cookie  
cookie*  
  
# Игнорируем все файлы в папке node_modules (часто используется в проектах с npm)  
node_modules/  
  
# Игнорируем все файлы в папке build (например, скомпилированные файлы)  
build/  
  
# Игнорируем все файлы с расширением .pyc (скомпилированные Python файлы)  
*.pyc  
  
# Игнорируем файл с результатами тестов  
test-results.txt  
